<h1>Listing candidates</h1>



<% @candidates.each do |candidate| %>
  
  <%= candidate.name %><br />
    
<% end %>


<br />

<%= link_to 'New Candidate', new_candidate_path %>
<br /><br />

<%= link_to 'Main voter page', voters_path %>


<p class = "helper">To add a candidate, the user must have the boolean attribute 'administrator' set to true. There is no browser interface to set this attribute, it must be done through the console. In the instance of the application running on Heroku as growing-sky-7466, the account tom@tom.com (password = progfun) can add candidates.</p>